html {
	width: 100%; 
	height: 100%;
}

body {
	width: 100%; 
	height: 100%; 
	margin: 0; 
	padding: 0;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-size: 14px; 
	line-height: 1.3;
}

.main {
	position: absolute;
	top: 0;
	bottom: 0;
    left: 0;
	width: 100%;
	height: 100%;
}

.left {
	position: absolute;
	top: 0;
	left: 0;
	width: 250px;
	height: 90%;
}

.center {
	position: absolute;
	left: 250px;
	top: 0;
	height: 90%;
	width: calc(100% - 600px);
}

.right {
	position: absolute;
	right: 0;
	top: 0;
	width: 350px;
	height: 100%;
	background-color: #252526;
	/*background-color: #c2c2c2;*/
}

.bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 350px;
	top: 90%;
	width: calc(100% - 350px);

	border-right: 1px solid #333;
}